/ner_intent_files/
/slot_vals_files/
/trainset_files/
/ner_files/
/intent_files/

/ner_intent_files/**
/slot_vals_files/**
/trainset_files/**
/ner_files/**
/intent_files/**
/intent_files/**
/ner_files/**

